[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "your-package-name"
version = "0.1.0"
authors = [{"name" = "Your Name", "email" = "your@email.com"}]
description = "A sample package"
requires-python = ">=3.8"