branca==0.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.3.3
cycler==0.12.1
filelock==3.25.2
folium==0.20.0
fonttools==4.62.1
fsspec==2026.3.0
hutb @ file:///D:/hutb/PythonAPI/carla/dist/hutb-2.9.16-cp312-cp312-win_amd64.whl#sha256=0adc6ce54046c442ea3ccccb530ea5c50327fcee82f00fb95807f9b9d80c9b66
idna==3.10
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.2
matplotlib==3.10.8
mpmath==1.3.0
networkx==3.6.1
numpy==2.3.1
opencv-python==4.13.0.92
packaging==26.0
pillow==12.2.0
pygame==2.6.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.32.4
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sympy==1.13.1
torch==2.5.0
torchvision==0.20.0
typing_extensions==4.15.0
urllib3==2.4.0
xyzservices==2025.4.0
