# 参考：https://github.com/Tiryoh/actions-mkdocs
name: Testing
on: [push, pull_request]

jobs:
  build:
    name: Test Python script
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      # 任务名称：设置Python环境
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # 保持 3.11
          architecture: 'x64'

      # === 恢复原来的样子：只有一步简单的安装 ===
      - name: Install Python dependencies
        run: python -m pip install -r requirements.txt

      - name: Python script testing
        run: |
          cd src/chap01_warmup && python numpy_tutorial.py && cd ../..
          cd src/chap02_linear_regression && python exercise-linear_regression.py && cd ../..
          cd src/chap02_linear_regression && python linear_regression-tf2.0.py && cd ../..
          cd src/chap03_softmax_regression  && python logistic_regression-exercise.py  && cd ../..
          cd src/chap03_softmax_regression  && python softmax_regression-exercise.py   && cd ../..
